@import url("https://fonts.cdnfonts.com/css/archia");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Archia", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  object-fit: cover;
  /* width: 100%; */
  display: block;
}

h1.MuiTypography-root,
h2.MuiTypography-root,
h3.MuiTypography-root,
h4.MuiTypography-root,
h5.MuiTypography-root,
h6.MuiTypography-root {
  font-weight: 600;
}

.MuiContainer-root {
  max-width: 1280px !important;
  margin: auto !important;
}

.MuiButton-root {
  text-transform: none !important;
  font-weight: 700 !important;
  border-radius: 12px !important;
}

.Mui-selected {
  color: #121279 !important;
}

.MuiTabs-indicator {
  background: #121279 !important;
}

.MuiSkeleton-root {
  transform: none !important;
}

label.Mui-focused {
  color: #121279 !important;
}

.MuiOutlinedInput-root,
.Mui-focused fieldset {
  border-color: #121279 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.swiper-pagination-bullet-active {
  background: #121279 !important;
}
.MuiTimeline-positionRight {
  padding: 0;
}

.swiper-slide {
  flex-shrink: inherit !important;
}
.swiper-wrapper {
  padding-top: 45px;
}
.swiper-slide:nth-child(1) {
  margin-left: 30px;
}
.swiper-button-prev,
.swiper-button-next {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  display: flex;
  background-color: #121279;
  border: 1px solid #121279;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev::before,
.swiper-button-next::before {
  position: absolute;
  display: block;
  height: 24px;
}
.swiper-button-prev::before {
  content: url(/prev.svg);
}
.swiper-button-next::before {
  content: url(/next.svg);
}

li .active {
  color: #000080;
  font-weight: 600;
}
